.main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.post ul, .post ol {
    list-style-position: inside;
}

.post {
    /*width: 95%;
    margin: 0 auto;*/
    /*background-color: grey;*/
    border-radius: var(--div-bd-radius);
    padding: 5px 40px;
    /*border-bottom: 1px solid hsla(0, 100%, 0%, 0.2);*/
    box-shadow: 0px 3px 2px 1px hsla(0, 100%, 0%, 0.1);
}

.post > * {
    margin: 10px 0px;
    padding: 0px 10px;
}

.post.skeleton > * {
    padding: 0px;
}

.post .post-text, .post a {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.post-img-container {
    /*width: 100%;
    overflow: hidden;
    background-color: hsla(19, 15%, 5%, 0.7);
    /*text-align: center;*/
    
}

.subreddit-details {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.subreddit-name {

}

.subreddit-details .icon {
    border-radius: 50%;
    /*color: red;*/
    height: 30px;
    width: 30px;
}

.post .post-time {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 300;
}

.post-text {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines */
    -webkit-box-orient: vertical;
    overflow: clip;
    text-overflow: ellipsis;
    border-radius: 10px;
}

.post-text:hover.overflow {
    background-color: hsla(0, 0%, 50%, 0.07);
    cursor: pointer;
}

.post-text.show {
    max-height: max-content;
    box-shadow: none;
    background-color: inherit;
    display: block;
}

.post-img, .post-video {
    width: 100%;
    max-height: 500px;
    /*display: block;
    margin: auto;*/
    object-fit: contain;
    
    background-image: var(--image-url), linear-gradient(hsla(17, 5%, 45%, 1), hsla(17, 5%, 45%, 1));
    background-blend-mode: hue;
    backdrop-filter: blur(10px);
    border-radius: var(--div-bd-radius);
    margin-bottom: 0px;
}

.interactions {
    /*position: relative;
    /*margin-top: 10px;*/
    /*min-height: 50px;
    margin-bottom: 0px;*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    min-height: 25px;
}

.interactions .ups-downs {
    /*display: flex;
    justify-content: flex-start;
    column-gap: 10px;*/
}

.ups {
    /*margin: auto 0px;*/
    margin: auto 10px;
}

.post-comments {
    /*position: absolute;
    right: 0px;
    top: 1px;*/
    /*margin: 0px 0px;*/
    /*bottom: 0px;*/
}

/*.comments-icon * {
    margin: 0px 0px;
}*/

.post-comments > * {
    /*margin: auto 0px;
    margin-left: 10px;*/
}

.comments-icon:hover {
    cursor: pointer;
}

.upvote, .downvote, .comments-icon {
    transform: scale(1.5);
}

.post .num-comments {
    margin: auto 7px;
    margin-right: 0px;
}

.ups-downs .ups, .post-comments .num-comments {
    /*vertical-align: top;*/
    /*transform: translateY(-50%);*/
}

@media only screen and (max-width: 750px) {
    .post {
        padding: 5px 10px;
    }

    .post-img, .post-video {
        max-height: 250px;
    }
}