* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    --div-bd-radius: 15px;
}

div {
    
}

.App {
    position: relative;
    /*left: 270px;*/
    top: max(9vh, 70px);
    background-color: white;
    /*max-width: calc(100% - 270px);*/
    /*padding-left: 4.5vw;
    padding-right: 4.5vw;*/
}

.App > *{
    padding-left: 2vw;
    padding-right: 3vw;
}

.nav-main {
    
}

.nav, .page {
    padding-bottom: 15px;
    padding-top: 10px; 
}

.nav {
    position: fixed;
    top: max(8vh, 60px);
    left: 0;
    border: 0px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.226);
    width: 270px;
    height: min(92vh, calc(100vh - 60px));
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 100%, 0);
    z-index: 6;
    background-color: white;
    overscroll-behavior: contain;
    display: none;
}

.mask {
    /*position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 50%, 0.8);
    z-index: 8;*/
}

.nav:hover {
    scrollbar-color: hsla(0, 0%, 0%, 0.226) hsla(0, 0%, 100%, 0);
}

.page {
    /*max-width: 1100px;*/
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
}

.main-container {
    display: grid;
    column-gap: 4%;
    grid-template-columns: 72% 24%;
}

.main-container > * {
    width: 100%;
}

.main-container aside {
    /*background-color: teal;*/
}

@media only screen and (max-width: 1200px) {
    .main-container {
        column-gap: 3%;
        grid-template-columns: 69% 28%
    }

    .page {
        padding-left: 3%;
        padding-right: 2%;
    }
}

@media only screen and (max-width: 950px) {
    .main-container {
        grid-template-columns: 100%;
    }
}