/*.search .post-img-container {
    width: 100%;
    overflow: hidden;
    background-color: hsla(19, 15%, 5%, 0.7);
    /*text-align: center;
}*/

/*.search .subreddit-details {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.search .subreddit-name {

}

.search .subreddit-icon {
    
    color: red;
}

.search .post-img, .search .post-video {
    width: auto;
    max-height: 500px;
    display: block;
    margin: auto;
    /*object-fit: cover;*/
    /*background-color: hsla(19, 15%, 5%, 0.7);
}*/